{% extends 'base.twig' %}

{% block content %}
    <table class="table">
        <tr>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>ROL</th>
        </tr>
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.rol }}</td>
        </tr>
    </table>
{% endblock %}
